<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="SimpleJwtLogin Plugin" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">
    <description>The PSR-2 coding standard.</description>
    <arg name="tab-width" value="4"/>

    <!-- 2. General -->
    <rule ref="PSR2">
           <exclude name="Generic.WhiteSpace.DisallowTabIndent"/>
    </rule>
    <rule ref="Generic.WhiteSpace.DisallowSpaceIndent"/>
    <rule ref="Generic.WhiteSpace.ScopeIndent">
       <properties>
           <property name="indent" value="4"/>
           <property name="tabIndent" value="true"/>
       </properties>
    </rule>
    <!-- 2.1 Basic Coding Standard -->
    <rule ref="PSR12">
        <exclude name="PSR2.Classes.PropertyDeclaration"/>
        <exclude name="PSR12.Classes.AnonClassDeclaration.SpaceAfterKeyword" />
        <exclude name="PSR12.Files.FileHeader.SpacingAfterBlock" />
        <exclude name="PSR12.ControlStructures.ControlStructureSpacing.FirstExpressionLine"/>
        <exclude name="PSR12.ControlStructures.ControlStructureSpacing.LineIndent"/>
        <exclude name="PSR12.ControlStructures.ControlStructureSpacing.CloseParenthesisLine"/>
        <exclude name="PSR12.Properties.ConstantVisibility"/>
        <exclude name="Generic.WhiteSpace.DisallowSpaceIndent.SpacesUsed"/>
    </rule>
    <rule ref="PSR1">
        <exclude name="PSR1.Files.SideEffects.FoundWithSymbols"/>
    </rule>
    <exclude-pattern>/Annotations/*</exclude-pattern>

    <!-- Add in some extra rules from other standards. -->
    <rule ref="Generic.CodeAnalysis.UnusedFunctionParameter"/>
    <rule ref="Generic.Commenting.Todo"/>

    <!-- Exclude the Composer Vendor directory. -->
    <exclude-pattern>/vendor/*</exclude-pattern>

    <rule ref="Generic.Files.LineEndings">
        <exclude name="Generic.Files.LineEndings.InvalidEOLChar"/>
    </rule>

    <!-- Exclude minified Javascript files. -->
    <exclude-pattern>*.min.js</exclude-pattern>

    <!-- Annotations Work In progress-->
      <!--<rule ref="Squiz.Commenting.FunctionComment" />-->
      <rule ref="Squiz.Commenting.FunctionCommentThrowTag" />
      <!--<rule ref="Squiz.Commenting.ClassComment" /> -->
      <!--<rule ref="Squiz.Commenting.FileComment" />-->
      <rule ref="Squiz.Commenting.VariableComment" />
      <rule ref="Squiz.Commenting.FunctionCommentThrowTag">
         <exclude name="Squiz.Commenting.FunctionCommentThrowTag.WrongNumber"/>
      </rule>
</ruleset>