includes:
  - vendor/spaze/phpstan-disallowed-calls/extension.neon
parameters:
  level: 5
  paths:
    - simple-jwt-login
    - tests
  bootstrapFiles:
    - bootstrap.php
  ignoreErrors:
    -
       message: '#Method SimpleJWTLogin\\Repositories\\Wordpress\\Repository::(doAction|applyFilters)\(\) invoked with .* parameters, 0 required.#'
       path: simple-jwt-login/src
    -
       message: '#(Call to static method|Access to constant) .* on an unknown class Two_Factor_(Core|Totp|Email|Backup_Codes)\.#'
       path: simple-jwt-login/src/Services/Integrations/TwoFactor/TwoFactorBridge.php
    -
       message : '#Unsafe call to private method SimpleJWTLogin\\Libraries\\JWT\\JWT::.*\(\) through static::.#'
       path: simple-jwt-login/src
    -
       message : '#Calling exit\(\) is forbidden.*#'
       paths:
         - simple-jwt-login/src/Repositories/Wordpress/WordPressRepository.php
         - simple-jwt-login/src/Plugin/OAuthTwoFactorLoginHandler.php
         - simple-jwt-login/src/Services/Oauth/AbstractOauth.php
         - simple-jwt-login/views/
    -
       message : '#Using (\$_POST|\$_GET|\$_REQUEST|\$_SERVER) is forbidden.*#'
       paths:
         - simple-jwt-login/views/
         - simple-jwt-login/3rd-party/force_login.php
         - simple-jwt-login/3rd-party/wp-graphql.php
         - simple-jwt-login/simple-jwt-login.php
  disallowedFunctionCalls:
    -
      function:
        - 'var_dump()'
        - 'print_r()'
        - 'var_export'
      message: 'User a logger instead.'
    -
       function:
         - 'die'
         - 'exit'
         - 'eval'
         - 'exec'
         - 'pcntl_exec'
       message: 'This function is forbidden.'
  disallowedSuperglobals:
    -
        superglobal: '$_GET'
        message: 'not allowed'
    -
        superglobal: '$_POST'
        message: 'not allowed'
    -
        superglobal: '$_REQUEST'
        message: 'not allowed'
    -
        superglobal: '$_SERVER'
        message: 'not allowed'
