parameters:
  level: 5
  paths:
    - simple-jwt-login
    - tests
  bootstrapFiles:
    - phpstan_bootstrap.php
  ignoreErrors:
    -
       message: '#Method SimpleJWTLogin\\Modules\\WordPressDataInterface::(triggerFilter|triggerAction)\(\) invoked with .* parameters, 0 required.#'
       path: simple-jwt-login/src
    -
       message : '#Unsafe call to private method SimpleJWTLogin\\Libraries\\JWT\\JWT::.*\(\) through static::.#'
       path: simple-jwt-login/src