name: "Publish Code Coverage"

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Deploy coverage to codecov
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Check PHP Version
        run: php --version

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v2
        env:
          XDEBUG_MODE: coverage
        with:
          memory_limit: 256M
          configuration: phpunit.xml.dist
          php_extensions: xdebug
          testsuite: "Unit"
          coverage_clover: "./coverage.xml"
#          args: tests/Unit --coverage-clover ./coverage.xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          fail_ci_if_error: false