name: "Plugin Compatibility Across Multiple PHP Versions"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  # Check there is no syntax errors in the project
  php-linter:
    name: Validate Plugin Code Across Multiple PHP Versions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: PHP Syntax Checker (5.5)
        uses: prestashop/github-action-php-lint/5.5@master
        with:
          working-directory: simple-jwt-login/

      - name: PHP Syntax Checker (5.6)
        uses: prestashop/github-action-php-lint/5.6@master
        with:
          working-directory: simple-jwt-login/

      - name: PHP Syntax Checker (7.1)
        uses: prestashop/github-action-php-lint/7.1@master
        with:
          working-directory: simple-jwt-login/

      - name: PHP Syntax Checker (7.2)
        uses: prestashop/github-action-php-lint/7.2@master
        with:
          working-directory: simple-jwt-login/

      - name: PHP Syntax Checker (7.3)
        uses: prestashop/github-action-php-lint/7.3@master
        with:
          working-directory: simple-jwt-login/

      - name: PHP Syntax Checker (7.4)
        uses: prestashop/github-action-php-lint/7.4@master
        with:
          working-directory: simple-jwt-login/

      - name: PHP Syntax Checker (8.0)
        uses: prestashop/github-action-php-lint/8.0@master
        with:
          working-directory: simple-jwt-login/

      - name: PHP Syntax Checker (8.1)
        uses: prestashop/github-action-php-lint/8.1@master
        with:
          working-directory: simple-jwt-login/

      - name: PHP Syntax Checker (8.2)
        uses: prestashop/github-action-php-lint/8.2@master
        with:
          working-directory: simple-jwt-login/

      - name: PHP Syntax Checker (8.3)
        uses: prestashop/github-action-php-lint/8.3@master
        with:
          working-directory: simple-jwt-login/

      - name: PHP Syntax Checker (8.4)
        uses: prestashop/github-action-php-lint/8.4@master
        with:
          working-directory: simple-jwt-login/