name: Plugin Workflow

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    - name: Run PHPCS design on plugin
      run: vendor/bin/phpcs simple-jwt-login/src

    - name: Run PHPMD design on plugin
      run: vendor/bin/phpmd simple-jwt-login/src text design

    - name: Run PHPMD cleancode on plugin
      run: vendor/bin/phpmd simple-jwt-login/src text cleancode

    - name: Run PHPMD unusedcode on plugin
      run: vendor/bin/phpmd simple-jwt-login/ text unusedcode

    - name: Run PHPMD naming on plugin
      run: vendor/bin/phpmd simple-jwt-login/ text naming

    - name: Run PHPMD controversial on plugin
      run: vendor/bin/phpmd simple-jwt-login/ text controversial

    - name: Run phpstan on plugin
      run: vendor/bin/phpstan analyse simple-jwt-login/src -c phpstan.neon

    - name: Run PHPCS design on tests
      run: vendor/bin/phpcs tests/

    - name: Run PHPMD design on tests
      run: vendor/bin/phpmd tests text design

    - name: Run PHPMD unusedcode on tests
      run: vendor/bin/phpmd tests/ text unusedcode

    - name: Run PHPMD naming on tests
      run: vendor/bin/phpmd tests/ text naming

    - name: Run PHPMD controversial on tests
      run: vendor/bin/phpmd tests/ text controversial

    - name: PHPUnit tests
      uses: php-actions/phpunit@v2
      with:
        configuration: phpunit.xml.dist
        memory_limit: 256M
